/**********************************************************************/
/*                                                                    */
/*  RWL - A demonstration program placed in the Public Domain         */
/*        by it author, R L Walsh, June 10, 2000                      */
/*                                                                    */
/**********************************************************************/
/*
    RWLX.RC
*/
/**********************************************************************/

#include "RWLX.H"

/**********************************************************************/

RCINCLUDE   "RWLX.DLG"


